.contacts {
  margin-left: auto;

  @media screen and (max-width: 767.98px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-flow: wrap;
  }
}

.contacts__item {
  &:first-child {
    @media screen and (max-width: 1199.98px) {
      margin-bottom: 10px;
    }
  }

  & + .contacts__item {
    @media screen and (min-width: 1200px) {
      margin-left: 30px;
    }
  }
}

.contacts__link {
  display: flex;

  color: $primeri-text-color;
  fill: $primeri-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color $transition-duration $transition-timing-function,
    fill $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}

.contacts__icon {
  width: 16px;
  height: 16px;

  @media screen and (max-width: 1199.98px) {
    margin-right: 8px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}
