.page-header {
  border-bottom: 1px solid #ececec;

  @media screen and (max-width: 767.98px) {
    position: relative;

    height: 60px;
  }
}

.page-header__container {
  display: flex;
  align-items: center;

  padding-left: 15px;
  padding-right: 15px;

  @media screen and (max-width: 767.98px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}



// //------------------- main-nav------------
.main-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    
  }
}
