.menu__container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;

  // transform: translateX(100%);

  width: 100%;
  height: 100%;
  padding: 48px 40px;

  background-color: $white-color;

  @media screen and (min-width: 480px) {
    width: 480px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu__social-networks {
  display: flex;
}

.menu__item {
  &:not(:first-child) {
    padding-left: 10px;
  }

  &:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.menu_link {
  color: $accent-color;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

//---------------- button---------------

.menu__button {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;

  background-color: transparent;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.menu__button.is-open .menu__icon--crosse {
  display: block;
}

.menu__button.is-open .menu__icon--menu {
  display: none;
}

.menu__icon--crosse {
  display: none;
}
