.section {
  @media screen and (max-width: 1199.98px) {
    padding: 60px 0;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.section__title {
  margin-bottom: 30px;

  color: $title-text-color;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;

  @media screen and (max-width: 1199.98px) {
    font-size: 28px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}

.section--no-padding-top {
  @media screen and (min-width: 1200px) {
    padding-top: 0;
  }
}

.section--background-gray {
  background-color: $gray-background-color;
}
